img {
    height: 100px;
    width: auto;
}

* {
    margin: 0;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &>* {
        text-align: center;
        border: solid yellowgreen 4px;
        padding: 5px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        // transform: rotate(-10px);
        background-color: aqua;
        &>* {
            border: solid red 1px;
            padding: 5px;
        }
    }
}